body {
  margin:0px;
  background-image:url('../../images/home/bg.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-100px;
  width:1050px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:892px;
  top:89px;
  width:168px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:61px;
}
#u0_img.mouseOver {
}
#u0.mouseOver {
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:258px;
  top:89px;
  width:158px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:61px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:154px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:89px;
  width:158px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:61px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:154px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:417px;
  top:89px;
  width:158px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:61px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:154px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:575px;
  top:89px;
  width:158px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:61px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:154px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:733px;
  top:89px;
  width:158px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:61px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:154px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:110px;
  top:20px;
  width:226px;
  height:20px;
  font-family:'BatmanForeverAlternate Bold', 'BatmanForeverAlternate';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:110px;
  top:52px;
  width:208px;
  height:20px;
  font-family:'BatmanForeverAlternate Regular', 'BatmanForeverAlternate';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:907px;
  top:99px;
  width:133px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:400px;
  top:245px;
  width:503px;
  height:280px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:291px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:465px;
  top:199px;
  width:373px;
  height:36px;
  font-family:'BatmanForeverAlternate Bold', 'BatmanForeverAlternate';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:400px;
  top:536px;
  width:499px;
  height:266px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:266px;
}
#u23 {
  position:absolute;
  left:400px;
  top:1170px;
  width:200px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:21px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:400px;
  top:816px;
  width:503px;
  height:297px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:297px;
}
#u26 {
  position:absolute;
  left:2px;
  top:140px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:930px;
  top:520px;
  width:220px;
  height:220px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:220px;
}
#u28 {
  position:absolute;
  left:2px;
  top:102px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:100px;
  top:199px;
  width:221px;
  height:221px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:221px;
  background-color:#666666;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u30 {
  position:absolute;
  left:100px;
  top:430px;
  width:221px;
  height:221px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:221px;
  background-color:#666666;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u31 {
  position:absolute;
  left:100px;
  top:661px;
  width:221px;
  height:221px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:221px;
}
#u32 {
  position:absolute;
  left:2px;
  top:102px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:100px;
  top:892px;
  width:221px;
  height:221px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:221px;
  background-color:#666666;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
